/* * {
    border: 1px solid rgb(0, 0, 0);
}
*/
body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.logo {
    cursor: default;
}

header {
    background-color: rgb(24, 104, 0);
    display: flex;
    flex-direction: column;
    height: 15vh;
    width: 100%;

}

.header {
    width: auto;
    height: 80%;
    background-image: url("../img/header.jpg");
    background-size: 100% 350%;
    background-position: 117px top;
    background-repeat: no-repeat;
    border: 3px solid rgb(24, 104, 0);
}

header img {
    width: 118;
    height: 100%;
    box-sizing: border-box;
    border-right: 3px solid rgb(24, 104, 0);
}



.imgUser {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
}



nav {
    background-color: rgb(24, 104, 0);
    height: 20%;
    box-sizing: border-box;
    border-bottom: 2px solid black;
    
    
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0px;
    align-items: center;
}

nav ul li {
    margin: 2px;
    color: white;
    list-style-type: none;
    font-size: 90%;
    
}

nav ul li a {
    text-decoration: none;
    color: white;
}

#usernameNav {
    color: white;
    margin-right: 10px;
    font-family: sans-serif;
    font-size: 100%;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.navButton {
    background-color: rgb(15, 65, 0);
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 2px;
    margin-right: 5px;
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;

}

main {
    background-color: rgb(175, 255, 151);
    height: 82vh;
    position: relative;
    top: 6px;
    overflow: auto;
}

#createButton {
    background-color: rgb(15, 65, 0);
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    color: white;
    border-radius: 5px;
    text-decoration: none;
    width: fit-content;
    font-family: sans-serif;
    font-size: 90%;
    padding: 5px;
    margin: 0 auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#createButton a {
    text-decoration: none;
    color: white;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: sans-serif;
    font-size: 14px;
    text-align: left;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    
}

table th, table td {
    padding: 12px;
    border: 1px solid rgb(24, 104, 0);
}

table th {
    background-color: rgb(24, 104, 0);
    color: white;
}

table tr:nth-child(even) {
    background-color: rgb(188, 255, 167);
}

table tr:nth-child(odd) {
    background-color: rgb(214, 255, 201);
}



footer {
    background-color: rgb(24, 104, 0);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    border-top: 2px solid black;
    height: 3vh;
}

footer p {
    margin: 0px;
    color: white;
}

#spark-container {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; /* Para que las chispas no interfieran con el mouse */
    width: 100%;
    height: 100%;
}

.spark {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: rgb(115, 255, 0); /* Color de las chispas */
    border-radius: 50%;
    animation: spark-animation 0.5s forwards  ;
}

@keyframes spark-animation {
    0% {
        transform: scale(0) translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: scale(1) translate(var(--x), var(--y));
        opacity: 0;
    }
}

.formTitle {
    text-align: center;
    margin-top: 20px;
    color: rgb(24, 104, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid rgb(24, 104, 0);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    margin-bottom: 5px;
    color: rgb(24, 104, 0);
}

form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid rgb(24, 104, 0);
    border-radius: 3px;
    box-sizing: border-box;
    color: rgb(24, 104, 0);
    font-family: sans-serif;
    font-size:  14px;
}

form button {
    padding: 10px;
    background-color: rgb(24, 104, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    font-family: sans-serif;
    font-size:  14px;
}

form button:hover {
    background-color: rgb(15, 65, 0);
}

form select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid rgb(24, 104, 0);
    border-radius: 3px;
    box-sizing: border-box;
    color: rgb(24, 104, 0);
    font-family: sans-serif;
    font-size:  14px;
}

form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid rgb(24, 104, 0);
    border-radius: 3px;
    box-sizing: border-box;
    color: rgb(24, 104, 0);
    font-family: sans-serif;
    font-size:  14px;
}


/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
}

/* Estilo para el "pulgar" (parte que se mueve) */
::-webkit-scrollbar-thumb {
    background-color: #4CAF50; /* Color del pulgar */
    border-radius: 10px; /* Bordes redondeados */
}

/* Estilo para la pista (parte que no se mueve) */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de fondo de la pista */
    border-radius: 10px; /* Bordes redondeados */
}
